In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.2'

In [3]:
pip install pyarrow

Requirement already satisfied: pyarrow in /home/andihoxhaj97/anaconda3/envs/myenv/lib/python3.11/site-packages (10.0.1)
Requirement already satisfied: numpy>=1.16.6 in /home/andihoxhaj97/anaconda3/envs/myenv/lib/python3.11/site-packages (from pyarrow) (1.24.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/andihoxhaj97/anaconda3/envs/myenv/lib/python3.11/site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_parquet("yellow_tripdata_2021-01.parquet", engine='pyarrow')

In [6]:
pwd

'/home/andihoxhaj97/data-engineering-zoomcamp/homework'

In [7]:
output_file = '/home/andihoxhaj97/data-engineering-zoomcamp/week_1_basics_n_setup/2_docker_sql/docker/yellow_tripdata_2021-01.csv'

In [8]:
df.to_csv(output_file, index = False)

In [9]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
engine.connect()

In [13]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [14]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [15]:
df = next(df_iter)

In [16]:
len(df)

100000

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1.0,4.13,1.0,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2.0,4.12,1.0,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2.0,2.22,1.0,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1.0,7.11,1.0,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3.0,1.61,1.0,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [20]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [21]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 18.6 ms, sys: 0 ns, total: 18.6 ms
Wall time: 27.4 ms

100

In [22]:
from time import time

In [23]:
while True:
    t_start=time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    t_end=time()
    print('Inserted another chunk..., took %.3f seconds' % (t_end-t_start))

Inserted another chunk..., took 10.533 seconds
Inserted another chunk..., took 10.331 seconds
Inserted another chunk..., took 10.323 seconds
Inserted another chunk..., took 10.394 seconds
Inserted another chunk..., took 10.395 seconds
Inserted another chunk..., took 10.468 seconds
Inserted another chunk..., took 10.469 seconds
Inserted another chunk..., took 10.423 seconds
Inserted another chunk..., took 10.267 seconds
Inserted another chunk..., took 10.457 seconds
Inserted another chunk..., took 10.329 seconds

/tmp/ipykernel_4826/358317645.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk..., took 10.064 seconds
Inserted another chunk..., took 6.505 seconds

StopIteration:

In [24]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv

--2023-01-29 20:52:06--  https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 13.224.194.107, 13.224.194.91, 13.224.194.50, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|13.224.194.107|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [text/csv]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-01-29 20:52:06 (53.7 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [25]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [26]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [27]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265